@page "/fetchplayerlist"

<PageTitle>Player List</PageTitle>

@using PlayFabBuddy.UI.Data
@inject PlayFabService PlayFabService

<h1>Player Data</h1>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Player Id</th>
                <th>Title Id</th>
                <th>Last Known IP</th>
                <th>Is Banned</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Id</td>
                    <td>@player.TitleId</td>
                    <td>@player.LastKnownIP</td>
                    <td>@player.IsBanned</td>
                    <td><button class="btn btn-primary" @onclick="IncrementCount">Ban this player</button></td>
               </tr>
            }
        </tbody>
    </table>
}

@code {
    private PlayerData[]? players;

    protected override async Task OnInitializedAsync()
    {
        players = await PlayFabService.GetForecastAsync();
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
