@page "/fetchplayerlist"

<PageTitle>Player List</PageTitle>

@using PlayFabBuddy.UI.Data
@inject PlayFabService PlayFabService

<h1>Player Data</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Player Id</th>
                <th>Is Banned</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.IsBanned</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PlayerData[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await PlayFabService.GetForecastAsync();
    }
}
